.slider {
  $block-name: &; // #{$block-name}__element {}
  padding-bottom: 60px;

  @include media-breakpoint-up(xl) {
    padding-bottom: 0;
  }

  .slick-arrow {
    border: none;
    font-size: 0;
    background-color: transparent;
    position: absolute;
    transform: translate(0, -50%);
    width: 15px;
    height: 26px;
    top: auto;
    padding: 0;
    z-index: 2;
    outline: none;
    bottom: 2px;

    @include media-breakpoint-up(xl) {
      top: 50%;
      bottom: auto;
      margin-top: -10px;
    }

    &.slick-prev {
      margin-left: -68px;
      background-image: url(./../img/slider-pointer-left.png);

      @include media-breakpoint-down(lg) {
        left: 50% !important;
      }
      @media (max-width: 1400px) {
        left: -15px;
      }
      @include media-breakpoint-up(xl) {
        left: -117px;
        margin-left: 0;
      }
    }

    &.slick-next {
      margin-right: -68px;
      background-image: url(./../img/slider-pointer-left.png);
      transform: translate(0, -50%) scaleX(-1);

      @include media-breakpoint-down(lg) {
        right: 50% !important;
      }
      @media (max-width: 1400px) {
        right: -15px;
      }
      @include media-breakpoint-up(xl) {
        right: -117px;
        margin-right: 0;
      }
    }
  }
}
