// Этот блок ответственнен за типографику проекта.
// Не пишите тут какую-либо стороннюю стилизацию.

.h1,
h1 {
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    font-size: 48px;
  }
}

.h2,
h2 {
  font-weight: bold;

  font-size: 44px;
  @include media-breakpoint-up(lg) {
  }
}

.h3,
h3 {
  font-weight: bold;
  font-size: 20px;

  @include media-breakpoint-up(lg) {
    font-size: 26px;
  }
}

.h4,
h4 {
  font-size: 20px;
  font-weight: bold;

  @include media-breakpoint-up(lg) {
    font-size: 22px;
  }
}

.h4,
h4 {
  font-size: 20px;
  @include media-breakpoint-up(lg) {
  }
}

p,
.text {
  @include media-breakpoint-up(lg) {
  }
}

a,
.link {
  outline: none;

  &:hover,
  &:focus {
    text-decoration: none !important;
  }
}

.font-alter {
  font-family: $font-alternative;
}

.text-dark {
  color: black !important;
}

.text-danger {
  color: var(--danger) !important;
}

.text-white-50 {
}

.text-black-50 {
}
