.insurance-artilce {
  $block-name: &; // #{$block-name}__element {}
  padding-top: 90px;
  padding-bottom: 80px;

  &__container {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
  }

  &__title {
    margin-bottom: 74px;
  }

  &__nav {
  }

  &__info {
  }

  &__steps {
    margin-bottom: 79px;
  }

  &__info {
    margin-bottom: 83px;
  }

  &__form {
    &__title-main {
      margin-bottom: 41px;
    }

    & > .form-group {
      margin-bottom: 41px;
    }
  }
}
