.group-main {
  $block-name: &; // #{$block-name}__element {}
  margin-bottom: 36px;

  &__title {
    margin-bottom: 38px;
  }

  &__description {
    margin: 0 auto;
    max-width: 940px;
    width: 100%;
    font-weight: 800;
    font-size: 20px;
    line-height: 160%;
    margin-bottom: 88px;
  }

  &__row {
    @include media-breakpoint-up(lg) {
      margin-left: -20px;
      margin-right: -20px;
    }

    & > [class*="col"] {
      @include media-breakpoint-up(lg) {
        padding-left: 20px;
        padding-right: 20px;
      }
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    margin-bottom: 56px;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
    }

    &__img {
      text-align: center;
      margin-bottom: 20px;

      @include media-breakpoint-up(lg) {
        flex: 0 0 100px;
        text-align: left;
        margin-bottom: 0;
      }
    }

    &__description {
    }

    &__title {
      margin-bottom: 14px;
    }

    p {
      line-height: 27px;
    }
  }
}
