.partners-promo {
  $block-name: &; // #{$block-name}__element {}
  padding-top: 40px;
  padding-bottom: 40px;

  @include media-breakpoint-up(lg) {
    padding-top: 175px;
    padding-bottom: 145px;
  }

  &__description {
    max-width: 250px;
  }

  &__text {
    font-size: 22px;
  }
}
