.news-catalog {
  $block-name: &; // #{$block-name}__element {}

  & > [class*="col"] {
    padding-right: 40px;
  }

  &__wrapper {
    background: #f7f6f4;
    padding: 40px 0px;

    @include media-breakpoint-up(lg) {
      padding: 120px 0px;
    }
  }

  &__main-title {
    margin-bottom: 63px;
  }
}
